.container {
	max-width : 70%;
	margin    : 0 auto;
}

.section {
	position : relative;
	width    : 100%;
}

ul {
	padding    : 0;
	list-style : none;
}

.ui-menu {
	border-left   : 1px solid #BBBBBB;
	border-right  : 1px solid #BBBBBB;
	border-bottom : 1px solid #BBBBBB;
	width         : 517px;
	padding       : 7px 5px 7px 10px;
}

.ui-menu-item {

}

.ui-helper-hidden-accessible {
	display : none;
}

body {
	background : #F5F6F6;
}

.hello-section > h1 {
	margin-top  : 0;
	text-align  : center;
	padding     : 60px;
	color       : white;
	font-size   : 46px;
	font-family : Georgia-Bold, serif;
}

.hello-section {
	background : #319AE7;
	text-align : center;
}

.hello-section > p {
	font-size   : 1.5em;
	color       : #FFFFFF;
	padding-top : 40px;
	max-width   : 400px;
	display     : inline-block;
}

#typeform-buttons > button {
	margin           : 50px 0;
	background-color : #115D95;
	border           : none;
	color            : white;
	width            : 150px;
	padding          : 10px;
	border-radius    : 100px;
	font-size        : 1.2em;
}

/*/-----------------------------------/*/

.types-section {
	background : #FFFFFF;
	padding    : 50px 200px;
	text-align : center;
}

.types-section > .row {
	padding    : 40px;
	text-align : left;
}

.types-section > .row h1 {
	font-family : Georgia-Bold, serif;
	margin      : 10px 0;
}

.types-section > .row p {
	font-size   : 1.3em;
	font-family : Arial Rounded MT Bold, serif;
}

.about-section {
	text-align : center;
	padding    : 38px;
	color      : #A0A0A0;
}

.typeform-widget {
	position : fixed;
	top      : -100vh;
}